<!-- help.html -->
{% extends 'consumption_forecast/base.html' %}

{% block title %}Help{% endblock %}

{% block content %}
<div>
    <div class="about-content">
        <h2>Application Overview</h3>
        <p>
        </p>

        <h3>Key Features</h3>
        <ul>
            <li><strong>:</strong> </li>
            <li><strong>:</strong> </li>
            <li><strong>:</strong> </li>
        </ul>

        <h3>How to Use</h3>
        <ul>
        </ul>

        <h3>Developers</h3>
        <ul>
            <li>Tyler Thompson</li>
            <li>Joshua Murillo</li>
            <li>Krish Parikh</li>
        </ul>
    </div>
</div>
{% endblock %}

