<!-- home.html -->
{% extends 'consumption_forecast/base.html' %}
{% load static %}

{% block title %}Energy Consumption Forecast{% endblock %}

{% block content %}
<div>
    <div class="about-content">
        <h2>High vs. Low Energy Consumption</h3>
            <br>
            <form id="csvForm" method="post" enctype="multipart/form-data" action="{% url 'upload_csv' %}">
                {% csrf_token %}
                <input type="file" id="csvFile" name="csv_file" accept=".csv, .xls, .xlsx" required>
                <button type="submit" id="submitBtn" disabled>Upload CSV</button>
            </form>
            
            <script>
            document.getElementById('csvFile').addEventListener('change', function() {
                if (this.files.length > 0) {
                    document.getElementById('submitBtn').disabled = false;
                } else {
                    document.getElementById('submitBtn').disabled = true;
                }
            });
            </script>
        <br>
        <br>
        <h4>Example CSV file</h4>
        <img src="{% static 'consumption_forecast/Energy_Forecast_Example_1.png' %}" alt="Energy Forecast Example 1" width="900px" height="auto">
        <br>
        <br>
        <h4>Please refer to the help section if you need more information. The CSV file input is very specific. </h4>
    </div>
</div>
{% endblock %}